{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.first_name }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <!--FORM HERE-->
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}                                               <!-- hidden_tag crea un campo nascosto contenente un token utilizzato per proteggere il modulo dagli attacchi CSRF-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.profile_image.label() }}
                    {{ form.profile_image(class="form-control-file") }}
                    {% if form.profile_image.errors %}
                        {% for error in form.profile_image.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
             <!--SUBMIT-->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}