{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Post di {{ admin.first_name }}</h1>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.poster.image_file) }}">
            <div class="media-body">
                <!-- NOME AUTORE E DATA POST -->
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('admin_posts', first_name=post.poster.first_name) }}">{{ post.poster.first_name }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
                </div>
                <!-- TITOLO POST E DESCRIZIONE -->
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.descrizione }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}