{% extends "layout.html" %}
{% block content %}
    <div class="hero-image">
        <div class="hero-text">
            <h1>WELCOME</h1>
        </div>
    </div>

    <div class="col-md-8">
    {% with messages = get_flashed_messages(with_categories=true)  %}           <!-- funzione per catturare i flash messages -->
            {% if messages %}
                {% for category,message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% for post in posts %}
        <!-- IMMAGINE POST -->
        <div class="card mb-3 ">
            <img src="{{ url_for('static', filename='images/' + post.post_image) }}" class="card-img-top">
            <div class="card-body">
                <!-- TITOLO, DESCRIZIONE , DATA E NOME ADMIN DEL POST -->
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="card-text">{{ post.descrizione }}</p>
                <p class="card-text"><small class="text-muted">Last updated {{ post.date_posted.strftime('%d-%m-%Y') }}</small></p>
                <p class="card-title"><a class="mr-2" href="{{ url_for('admin_posts', first_name=post.poster.first_name) }}">by {{ post.poster.first_name }}</a></p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}